$ratio-max: 16 !default;

[class^="ratio-"], [class*=" ratio-"] {
    position: relative;
    overflow: hidden;
	
	&:not(.ratio-content)::before {   
		content: "";
		display: block;
		width: 100%;
	}
    
    .ratio-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// FUNCTION TO GENERATE RATIO CLASSES //

@each $breakpoint in $breaks {
	
	$ratio-steps: $ratio-max;
	$suffix: nth($breakpoint, 1);
	$size: nth($breakpoint, 2);
	
	@if $size == 0 {
		@while $ratio-steps > 0 {

			$ratio-x: $ratio-steps;
			$ratio-y: $ratio-steps;

			@while $ratio-y > 0 {
				.ratio-#{$ratio-x}-#{$ratio-y}:before {padding-top: (($ratio-y / $ratio-x) * 100%) !important;}
				.ratio-#{$ratio-y}-#{$ratio-x}:before {padding-top: (($ratio-x / $ratio-y) * 100%) !important;}
				$ratio-y: $ratio-y - 1;
			}
			$ratio-steps: $ratio-x - 1;
		}
	} @else {
		@media (min-width: $size) {
			@while $ratio-steps > 0 {

				$ratio-x: $ratio-steps;
				$ratio-y: $ratio-steps;

				@while $ratio-y > 0 {
					.ratio-#{$ratio-x}-#{$ratio-y}#{$suffix}:before {padding-top: (($ratio-y / $ratio-x) * 100%) !important;}
					.ratio-#{$ratio-y}-#{$ratio-x}#{$suffix}:before {padding-top: (($ratio-x / $ratio-y) * 100%) !important;}
					$ratio-y: $ratio-y - 1;
				}
				$ratio-steps: $ratio-x - 1;
			}
		}
	}
}